h1{
         text-align: center;
         font-size: 36px;
         color: red;

}

h1{
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
nav li 
    {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #111;
  }
  
.text {
    margin-bottom: -10px;
}

.center img {
    margin-left: 18%;
}